@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
    overflow-x: hidden;
}

body {
    background: linear-gradient(135deg, rgba(15, 15, 59, 1), rgb(21, 21, 103));
    overflow-x: hidden;
}

/* Naviagation bar*/

.topbar {
    width: 100%;
    height: 54px;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    z-index: 99;
    animation: fade-down 0.6s;
}

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-3rem) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.topbar.slidedown {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.5rem;
    background: rgba(10, 10, 40, 0.98);
    animation: slidedown 0.7s forwards;
}

@keyframes slidedown {
    from {
        top: -20rem;
    }

    to {
        top: 0;
        box-shadow: 0 0.2rem 0.8rem 0 rgba(0, 0, 0, 0.5);
    }
}

.nav-container {
    width: 90%;
    max-width: 142rem;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100%;
}

.container {
    width: 90%;
    max-width: 142rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


.nav-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}



.nav-list {
    list-style: none;
    padding: 0 1rem;
    margin: 0 1rem;
}

.nav-link {
    display: inline-block;
    text-decoration-thickness: 0.15rem;
    font-size: clamp(0.8rem, 1.5vw, 1.2rem);
    font-family: 'Space Grotesk';
    color: #FFC107;
    transition: all 0.3s ease;
}

.nav-link:hover {
    color: #FFF176;
    transform: scale(1.1);
    filter: drop-shadow(0 0 0.2rem #FFF176);
}

.topbar.slidedown .nav-link {
    color: #FFC107;
    transition: all 0.3s ease;
}

.topbar.slidedown .nav-link:hover {
    color: #FFF176;
    transform: scale(1);
}

.nav-close,
.hamburger-icon {
    color: white;
}

@media screen and (max-width: 440px) {
    .topbar {
        background: rgba(10, 10, 40, 0.98);
    }

    .nav-container{
        height: 52px;
        width: 100%;
    }


    .nav-menu {
        top: -300%;
        background: rgba(10, 10, 40, 0.98);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: relative;
        transition: 0.2s ease;
    }

    .nav-menu.show-menu {
        top: 300%;
    }

    .hamburger-icon{
        padding: 1.5rem;
        position: absolute;
        right: 0;
        top: 0;
        opacity: 1;
    }

    .nav-list {
        padding: 1.2rem 0;
        text-align: center;
    }

    .nav-list a {
        font-size: 1rem;
    }

    .nav-close {
        position: absolute;
        top: -11px;
        padding-right: 1.5rem;
        right: 0;
        font-size: 18px;
       z-index: 2;
    }
}


/* Animation on Scroll */
.hidden {
    opacity: 0;
    filter: blur(0.5rem);
    transition: all 1.25s;
}

.show {
    opacity: 1;
    filter: blur(0);
}

/* Landing Page Section*/

.landing-section {
    width: 100%;
    height: 800px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8rem;
}

.cover-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fade-up 0.6s;
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

.content {
    padding: 0 50px;
    width: 80%;
}

.content.show {
    animation: slide-in-left 1.25s forwards;
}

/* Introduction */
.content h3 {
    letter-spacing: 2px;
    font-size: clamp(25px, 2.5vw, 45px);
    color: #00ffff;
    font-family: 'Kanit';
}

/* Name */
.content h1 {
    font-size: clamp(60px, 5vw, 100px);
    background: linear-gradient(to right, #04a3a3, #00ffff);
    background-clip: text;
    color: transparent;
    font-family: 'Kanit';
    font-weight: 500;
    line-height: 100px;
    margin-bottom: 20px;

}

/* Profession */
.content h4 {
    font-size: clamp(30px, 2.5vw, 50px);
    color: white;
    font-family: 'Space Grotesk';
    line-height: 55px;
    margin-bottom: 30px;
}

.content p {
    font-size: 16px;
    font-family: 'Space Grotesk';
    color: white;
    width: 80%;
    margin-bottom: 15px;
}

/* Landing-button */
.landing-btn1,
.landing-btn2,
.landing-btn3 {
    display: inline-block;
    text-decoration: none;
    border: 3px solid wheat;
    border-radius: 15px;
    padding: 12px 24px;
    margin-top: 12px;
    margin-right: 10px;
    font-family: 'Space Grotesk';
    font-weight: 600;
}

.landing-btn1,
.landing-btn2 {
    background-color: #FF7F50;
    color: black;
    transition: all 0.5s ease;
}

.landing-btn1:hover,
.landing-btn2:hover {
    background-color: #d25d32;
    color: white;
}

.landing-btn3 {
    background-color: #FFD700;
    color: black;
    transition: all 0.5s ease;
}

.landing-btn3:hover {
    background-color: #FFD700;
    color: white;
}

.landing-img img {
    width: 100%;
    margin: auto;
}

.landing-img.show {
    animation: slide-up 0.75s forwards;
}

@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(150px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 1024px) {
    .content {
        margin: auto;
        padding: 0;
        padding-left: 40px;
        width: 95%;
    }

    .content a {
        font-size: 14px;
        padding: 8px 12px;
    }

    .landing-img {
        margin: 0 25px;
        width: 65%;
    }
}

@media screen and (max-width: 990px) {
    .content {
        padding: 0;
        padding-left: 40px;
        width: 90%;

    }

    .landing-img {
        margin: 0 25px;
        width: 65%;
    }
}

@media screen and (max-width:768px) {

    .cover-content {
        flex-direction: column;
        margin-top: 5rem;
    }

    .content {

        margin: 0 2rem;
        padding: 0;
        width: 100%;

    }

    .content p {
        font-size: 14px;
        width: 100%;
        margin-bottom: 15px;
    }

    .content a {
        font-size: 14px;
        padding: 10px 12px;
    }

    .landing-img {
        padding: 1rem;
        width: 80%;
        margin: 3rem;
    }
}

/* About me Section*/
.about-section {
    display: flex;
    justify-content: center;
    margin: 10rem 0;
}

.about-topic {
    display: flex;
    font-size: 80px;
    color: #00ffff;
    font-family: 'Kanit';
    font-weight: 450;
    transition: font-size 0.6 ease;
}

.about-aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    background: #02091897;
    border-radius: 20px;
    padding: 40px 30px;
}

.about-aside.show {
    animation: slide-up 0.75s forwards;
}

.about-aside h3 {
    text-decoration: none;
    margin: 15px 0;
    color: white;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Kanit';
}


.about-aside h4 {
    color: white;
    font-weight: 500;
    font-family: 'Kanit';
    background: #0bf6f62b;
    box-shadow: 0 2px 5px rgba(56, 189, 248, 0.4);
    padding: 10px 15px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.4s ease;
}

.about-aside h4:hover {
    background: #00b3b3;
}

.about-pic {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.about-line {
    margin-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.705);
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.about-me {
    color: white;
    font-family: 'Kanit';
}


.about-content {
    width: 70%;
    margin-left: 50px;
}

.about-content.show {
    animation: slide-in-right 0.75s forwards;
}

@keyframes slide-in-right {
    from {
        opacity: 0;
        transform: translateX(100px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.about-content p {
    max-width: 95%;
    font-size: 16px;
    color: white;
    font-family: 'Kanit';
    margin-bottom: 20px;
}

.about-content h2 {
    color: #e06436;
    font-size: 40px;
    font-family: 'Kanit';
    font-weight: 600;
    margin-bottom: 20px;
}

.work-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 20px;
}

.about-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #02091897;
    border-radius: 20px;
    padding: 25px 20px;
    transition: box-shadow 0.3s;

    &:hover {
        box-shadow: 0 10px 12px rgba(18, 45, 144, 0.5);
    }
}

.work-pic {
    width: auto;
    height: 60px;
}

.work-context {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.work-context h3 {
    color: white;
    font-size: 20px;
    font-family: 'Space Grotesk';
    margin-bottom: 8px;
}

.work-context p {
    font-size: 14px;
}

/* Responsive About section */
@media (max-width: 1024px) {

    .about-aside {
        width: 28%;
    }

    .about-aside h3 {
        font-size: 28px;
    }

    .about-aside h4 {
        display: flex;
        justify-content: center;
        padding: 5px 10px;
        font-size: 14px;
    }

    .about-pic {
        width: 120px;
        height: 120px;
    }

    .about-me {
        font-size: 15px;
    }

    .about-topic {
        font-size: 72px;
    }

    .about-content p {
        font-size: 16px;
    }

    .about-card {
        padding: 20px 15px;
    }

    .work-context p {
        font-size: 13px;
    }


}

@media (max-width: 768px) {
    .about-section {
        width: 100%;
        margin-top: 10rem;
        padding: 1.5rem;
    }

    .about-section .container {
        flex-direction: column;
        margin-top: 5rem;
    }

    .about-aside {
        width: 90%;
    }

    .about-content {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }

    .about-aside {
        align-items: center;
        text-align: center;
    }

    .about-pic {
        width: 120px;
        height: 120px;
    }

    .about-topic {
        align-items: center;
        justify-content: center;
        font-size: 48px;
        margin: 2rem 0;
    }


    .about-content h2 {
        display: flex;
        font-size: 28px;
        margin-bottom: 1rem;
        text-align: center;
    }

    .about-content p {
        width: 100%;
        font-size: 15px;
    }

    .work-row {
        grid-template-columns: 1fr;
    }

    .work-pic {
        height: 50px;
    }

    .work-context h3 {
        font-size: 18px;
    }

    .work-context p {
        width: 100%;
        font-size: 13px;
    }

    .about-card {
        padding: 2rem 1.25rem;
    }

}



/* Timeline Section */
.timeline-container {
    max-width: 1420px;
    flex-direction: column;
    margin-bottom: 200px;
    margin-left: 10rem;
}


.timeline-topic {
    width: 1420px;
    margin: auto;
    margin-bottom: 40px;
    font-size: 60px;
    color: rgb(225, 127, 192);
    font-family: 'Kanit';
    font-weight: 450;
}

.timeline-line {
    margin-top: 15px;
    position: relative;
    display: flex;
    align-items: center;
}

.verti-down-left::before,
.verti-down-left2::before,
.verti-down-right::before,
.verti-down-right2::before,
.verti-down1::before,
.verti-down2::before {
    content: '';
    position: absolute;
    width: 4px;
    background-color: #00ffff;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    position: absolute;
}

.timeline-line.hori-right::before,
.timeline-line.hori-left::before {
    content: '';
    position: absolute;
    height: 4px;
    background-color: #00ffff;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    z-index: 1;
}

/* First vertical line */
.timeline-line.verti-down-left::before {
    height: 0;
    left: 12.2%;
    top: -2px;
    transform: none;
    transition: height 0.7s cubic-bezier(.77, 0, .18, 1);
}


/* Second vertical line */
.timeline-line.verti-down-left2::before {
    height: 0;
    left: 12.2%;
    top: -13px;
    transform: none;
    transition: height 0.7s cubic-bezier(.77, 0, .18, 1);
    transition-delay: 0.7s;
}

/* Vertical line right */
.timeline-line.verti-down-right::before,
.timeline-line.verti-down-right2::before {
    height: 0;
    right: 22%;
    left: auto;
    top: -15px;
    transform: none;
    transition: height 0.7s cubic-bezier(.77, 0, .18, 1);
}


/* Dot top */
.timeline-line.verti-down1::before {
    height: 100%;
    left: 12.2%;
    top: 0px;
    transform: none;
}

/* Dot bottom */
.timeline-line.verti-down2::before {
    height: 100%;
    right: 22%;
    left: auto;
    top: -15px;
    transform: none;
}

/* Horizontal line */
.timeline-line.hori-right::before,
.timeline-line.hori-left::before {
    width: 65.8%;
    left: 12.2%;
    top: 0;
    transform: none;
    height: 4px;
}

/* Dots */
.verti-down1::after,
.verti-down2::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #00ffff;
    border-radius: 50%;
    z-index: 2;
}

.verti-down1::after {
    top: 0;
    left: calc(12.2% - 6px);
}

.verti-down2::after {
    bottom: -380px;
    right: calc(22% - 6px);
}


.timeline-section img {
    width: 250px;
    height: 250px;
    border-radius: 20px;
}

.left-timeline,
.right-timeline {
    display: flex;
    align-items: center;
    gap: 30px;
    position: relative;
    padding: 45px 0;

}

.left-timeline span,
.right-timeline span {
    position: absolute;
    background: white;
    border-radius: 50%;
    padding: 20px 15px;
    color: black;
    font-family: 'Space Grotesk';
    font-weight: bolder;
    z-index: 2;
}

.left-timeline span {
    right: 20%;
}

.right-timeline span {
    left: -30%;
}

.left-timeline {
    left: 0;
    flex-direction: row;
    justify-content: flex-start;
}

.right-timeline {
    left: 40%;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.experience {
    width: 450px;
    color: white;
    padding: 40px 30px;
    background-color: rgb(10, 10, 43);
}

.experience h3 {
    font-size: 35px;
    color: #e06436;
    font-family: 'Space Grotesk';
}

.experience p {
    font-family: 'Kanit';
    font-size: 20px;
}

/* Timeline Animation */
.left-timeline.show {
    animation: slide-in-left 0.75s forwards;
}

.right-timeline.show {
    animation: slide-in-right 0.75s forwards;
}

/* Vertical line grow down */

.timeline-line.show.verti-down-left::before {
    height: 385px;
}

.timeline-line.show.verti-down-left2::before {
    height: 395px;
}

.timeline-line.show.verti-down-right::before,
.timeline-line.show.verti-down-right2::before,
.timeline-line.show.verti-down2::before {
    height: 395px;
    transition-delay: 0.7s;
}

/* Horizontal line grow */
.timeline-line.hori-right::before,
.timeline-line.hori-left::before {
    width: 0;
    transform: translateX(60px);
    transition: width 0.7s cubic-bezier(.77, 0, .18, 1);
}

.timeline-line.show.hori-right::before,
.timeline-line.show.hori-left::before {
    width: 65.8%;
    transform: translateX(0);
}

/* Timeline responsive */
@media (max-width: 1024px) {
    .timeline-section .container {
        width: 80%;
        padding: 0 2vw;
        min-width: unset;
        max-width: 100%;
    }

    .timeline-topic {
        width: 100%;
        text-align: center;
        font-size: 65px;
        margin-bottom: 80px;
    }

    .timeline-section img {
        width: 180px;
        height: 180px;
        margin-left: 120px;
    }


    .timeline-line {
        opacity: 0;
    }


    .timeline-line.verti-down1 {
        position: absolute;
        top: 130px;
        left: 6%;
        display: block;
        height: 0;
        transition: height 3s ease-in-out;
        z-index: 0;
        background-color: #00ffff;
        width: 4px;
    }

    .timeline-line.show.verti-down1 {
        opacity: 1;
        height: 93%;
    }

    .experience {
        width: 80%;
        padding: 40px 30px;
        margin-left: 120px;
        font-size: 15px;
    }

    .experience h3 {
        font-size: 28px;
    }

    .experience p {
        font-size: 20px;
    }

    .left-timeline,
    .right-timeline {
        position: relative;
        flex-direction: column !important;
        align-items: flex-start;
        gap: 35px;
        left: 0;
    }

    .left-timeline span,
    .right-timeline span {
        position: relative;
        top: -150px;
        padding: 10px 8px;
        font-size: 18px;
        left: 0;
        right: 0;
        z-index: 2;
    }

}

@media (max-width: 768px) {
    .timeline-container {
        width: 80%;
        margin: 2rem;
        min-width: unset;
        max-width: 100%;
    }

    .timeline-topic {
        width: 100%;
        text-align: center;
        font-size: 45px;
        margin-bottom: 60px;
    }

    .timeline-section img {
        width: 120px;
        height: 120px;
        margin-left: 100px;
    }


    .timeline-line {
        opacity: 0;
    }


    .timeline-line.verti-down1 {
        position: absolute;
        top: 10rem;
        left: 16.5%;
        display: block;
        height: 0;
        transition: height 3s ease-in-out;
        z-index: 0;
        background-color: #00ffff;
        width: 4px;
    }

    .timeline-line.show.verti-down1 {
        opacity: 1;
        height: 93%;
    }

    .experience {
        width: 10%;
        margin-left: 60px;
        font-size: 14px;
    }

    .experience h3 {
        font-size: 20px;
    }

    .experience p {
        font-size: 16px;
    }

    .left-timeline,
    .right-timeline {
        position: relative;
        flex-direction: column !important;
        align-items: flex-start;
        gap: 25px;
        left: 0;
    }

    .left-timeline span,
    .right-timeline span {
        position: relative;
        top: -150px;
        padding: 10px 8px;
        font-size: 14px;
        left: calc(5% - 6px);
        z-index: 2;
    }

    .experience {
        width: 80%;
        padding: 30px 20px;
        margin-left: 80px;
        font-size: 15px;
    }
}

/* Project Section */
.project-section .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    padding: 32px;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 5rem;
}


.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    flex-wrap: wrap;
    width: 80%;
    gap: 20px;
    justify-content: center;
}

.project-card {
    padding: 40px 30px;
    margin-bottom: 15px;
    border-radius: 24px;
    background: rgb(13, 13, 52);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    font-family: 'Space Grotesk';
    color: white;

}

.project-card:hover .project-img {
    transform: scale(1.2);
}

.project-card.show {
    animation: content-up 0.75s ease-in-out forwards;
}

@keyframes content-up {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-50px);
    }
}

.project-image {
    display: block;
    overflow: hidden;
    margin-bottom: 24px;
    border-radius: 24px;
}

.project-img {
    width: 100%;
    height: 200px;
    transition: transform 0.4s;
}

.project-card p {
    color: white;
    font-family: 'Space Grotesk';
}


.project-card:nth-child(1).show,
.project-card:nth-child(3n+1).show {
    animation-delay: 200ms;
}

.project-card:nth-child(2).show,
.project-card:nth-child(3n+2).show {
    animation-delay: 400ms;
}

.project-card:nth-child(3).show,
.project-card:nth-child(3n+3).show {
    animation-delay: 600ms;
}

.project-data h3 {
    margin-bottom: 12px;
}

.project-data p {
    font-size: 14px;
    margin-bottom: 24px;
}

.project-skill {
    margin: 10px;
    width: max-content;
    padding: 12px;
    background: #333;
    column-gap: 12px;
    border-radius: 9999px;
    display: flex;
    margin-bottom: 24px;
}

.project-img-skill {
    width: auto;
    height: 18px;
    transition: transform 0.4s;
}

.project-img-skill:hover {
    transform: translateY(-4px);
}

.project-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-link a {
    font-size: clamp(11px, 2.5vw, 16px);
    font-weight: 600;
    text-decoration: none;
    color: #FFD700;
    margin: 0 13px;

}

.project-link a:hover {
    color: #dfaa09;
    filter: drop-shadow(0 0 2px #585429);
}

@media (max-width: 768px) {

    .project-container {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .project-img {
        height: 180px;
    }

    .project-card {
        padding: 2.5rem 2rem;
    }

    .project-card h3 {
        font-size: 15px;
    }

    .project-card p {
        font-size: 13px;
    }


}

/* Skills Section*/

.skill-section .container {
    justify-content: center;
    background-color: rgb(6, 6, 24);
    border-radius: 16px;
    width: 70%;
    padding: 2rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 5rem;
    animation: fade-in 1s forwards;
    margin-bottom: 200px;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    flex-wrap: wrap;
    width: 100%;
    gap: 32px;
    justify-content: center;
}

.card {
    margin-bottom: 15px;
    padding: 16px;
    border-radius: 2px;
    background-color: rgb(15, 15, 59);
    transform-style: preserve-3d;
    transition: 0.3s ease;
    cursor: pointer;
}

.card.show {
    animation: slide-in-left 0.6s ease-in-out forwards;
}

@keyframes slide-in-left {
    from {
        opacity: 0;
        transform: translateX(-60px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.card:hover {
    box-shadow: 0 4px 10px rgb(40, 40, 156);
    transform: scale(1.03);
}

.card:nth-child(1),
.card:nth-child(5n+1) {
    animation-delay: 200ms;
}

.card:nth-child(2),
.card:nth-child(5n+2) {
    animation-delay: 400ms;
}

.card:nth-child(3),
.card:nth-child(5n+3) {
    animation-delay: 600ms;
}

.card:nth-child(4),
.card:nth-child(5n+4) {
    animation-delay: 800ms;
}

.card:nth-child(5),
.card:nth-child(5n+5) {
    animation-delay: 1000ms;
}

.skill-img {
    width: auto;
    height: 50px;
    margin: 16px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info span {
    text-transform: uppercase;
    font-size: 18px;
    color: skyblue;
    font-family: 'Space Grotesk';
    font-weight: 600;
}

/* Testimonials Section*/

.testimonial-section {
    margin-bottom: 200px;
}

.topic {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    font-size: clamp(45px, 5vw, 65px);
    color: #00ffff;
    font-family: 'Kanit';
    font-weight: 450;
}

.wrapper {
    max-width: 1420px;
    padding: 20px 10px;
    margin: 0 100px 30px;
    overflow: hidden;
}

.wrapper .swiper-pagination-bullet {
    height: 15px;
    width: 15px;
    overflow: hidden;
    opacity: 1;
    background: yellow;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 20px;
    font-weight: bold;

}

.wrapper :where(.swiper-button-prev, .swiper-button-next) {
    color: blue;
    background: whitesmoke;
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 20px;
    margin-top: -35px;
    transition: all 0.3s ease;
}

.wrapper :where(.swiper-button-prev, .swiper-button-next):hover {
    color: rgb(18, 102, 130);
}

.box-item {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    font-family: 'Kanit';
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transition: transform 0.6s;

    &:hover {
        transform: translateY(-20px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }
}


.client-img {
    width: auto;
    height: 90px;
    border-radius: 50%;
    border: 2px solid skyblue;
    padding: 2px;
}

.user-profession {
    line-height: 30px;
    color: darkblue;
}

.review {
    font-size: 15px;
}

@media screen and (max-width: 1024px) {
    .testimonial-section .container {
        overflow-x: hidden;
        justify-content: center;
        align-items: center;
        max-width: 1024px;
        margin: auto;
    }

    .wrapper {
        margin: 0 40px;
        width: 100%;
    }

    .wrapper :where(.swiper-button-next) {
        right: 1%;
    }
}

@media screen and (max-width: 768px) {

    .skill-topic {
        font-size: 60px;
    }

    .wrapper {
        margin: 0;
        width: 100%;
    }
}


/* Contact Section*/
.contact-section {
    position: relative;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.contact .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
}

.contact-content {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;
    font-family: 'Kanit', sans-serif;
    gap: 20px;
}


.contact-info {
    flex: 1 1 250px;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #0f172a;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.4);
    padding: 12px 50px;
    border-radius: 30px;
}

.contact-info.show {
    animation: slide-in-left 0.75s forwards;
}

.contact-box {
    display: flex;
    align-items: center;
    padding: 20px 0;
    margin-top: 1rem;
    cursor: pointer;
}

.icon {
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 1rem;
}

.icon b {
    position: absolute;
    inset: 5px;
    background-color: skyblue;
    border-radius: 10px;
    z-index: 2;
}

.icon i {
    position: relative;
    z-index: 1000;
    color: #333;
    font-size: large;
}

.contact-text {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding: 15px;
    font-size: 18px;
    color: white;
    font-weight: 300;
}

.contact-text h3 {
    margin-top: 1rem;
    font-weight: 500;
    color: skyblue;
}

.contact-info h2 {
    margin-top: 30px;
    font-weight: 500;
    font-size: 26px;
    color: white;
}

.contact-text p {
    font-size: clamp(0.5rem, 1rem, 1.5rem);
}

.sci {
    display: flex;
    gap: 20px;
    margin: 20px 0;
}

.sci li {
    list-style: none;
}

.sci li a {
    color: white;
    font-size: 18px;
    transition: 0.25s;
}

.sci li a:hover {
    color: skyblue;
    filter: drop-shadow(0 0 5px skyblue);
}

.contact-form {
    flex: 1 1 200px;
    background-color: #0f172a;
    border-radius: 16px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.4);
    position: relative;
    padding: 40px 30px;
    box-sizing: border-box;
}

.contact-form.show {
    animation: slide-in-right 0.75s forwards;
}

.contact-form form {
    position: relative;
    z-index: 10;
    padding: 20px;
}

.contact-form h2 {
    color: white;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
}

.input {
    width: 100%;
    margin-top: 15px;
    position: relative;
    cursor: text;
}

.input input,
.input textarea {
    width: 100%;
    padding: 8px;
    font-size: 18px;
    margin: 20px 0;
    border: none;
    background: transparent;
    border-bottom: 2px solid skyblue;
    color: white;
    outline: none;
    resize: none;
}

.input span {
    position: absolute;
    left: 0;
    pointer-events: none;
    padding: 5px 0;
    margin: 10px 0;
    color: white;
    font-size: 20px;
    font-weight: 300;
    transition: 0.3s linear;
}

.input input:focus~span,
.input textarea:focus~span,
.input input:valid~span,
.input textarea:valid~span {
    color: #00ffff;
    font-size: 15px;
    transform: translateY(-24px);
}

.input input[type="submit"] {
    background: linear-gradient(to right, #38bdf8, #0ea5e9);
    border: none;
    color: white;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(56, 189, 248, 0.3);
    transition: all 0.3s ease;
}

.input input[type="submit"]:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(56, 189, 248, 0.5);
}

@media (max-width: 768px) {
    .contact-content {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .contact-info {
        padding: 1.5rem;
    }

    .contact-info .contact-box {
        padding: 20px 0;
    }

    .contact-info,
    .contact-form {
        width: 100%;
    }

    .contact-form {
        padding: 1.875rem 1.25rem;
    }

    .contact-form h2 {
        font-size: 1.75rem;
    }


    .contact-form textarea {
        resize: vertical;
    }

    .contact-info h2 {
        font-size: 1.375rem;
        text-align: center;
    }

    .sci {
        justify-content: center;
    }
}

/* Footer Section*/
.copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(8, 8, 32);
    gap: 5px;
    padding: 3px 0;
}

.copyright img {
    width: 15px;
    height: 15px;
}

.copyright span {
    font-size: 15px;
    color: rgba(245, 245, 245, 0.706);

}